.static-container {
    display: flex;
    flex-direction: row;
    width: 100%;

    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);

    border-radius: 7px;

    margin-top: 2%;
}

.personal-img {
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 7px;
    padding-top: 5px;

    justify-content: center;
}

.personal-img img {
    height: 6cm;
    width: auto;
    margin-left: 0px;
    margin-right: 5px;
    margin-bottom: 5px;

    border-radius: 7px;
}

.personal-info {
    display: flex;
    flex-direction: column;
    width: max-content;
    padding-right: 50px;
    
    font-size: 1.3rem;
}

#pi--id {
    margin-top: 24px;
    margin-left: 20px;
    border-radius: 7px;
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    padding-inline: 10px;

    font-family: Roboto, sans-serif;

    margin-bottom: 20px;
}

#pi--name {
    margin-top: 15px;
    margin-left: 20px;
    border-radius: 7px;
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    padding-inline: 10px;

    font-family: Roboto, sans-serif;

    margin-bottom: 20px;

}

#pi--date {
    margin-top: 15px;
    margin-left: 20px;
    border-radius: 7px;
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    padding-inline: 10px;

    font-family: Roboto, sans-serif;
    margin-bottom: 20px;
}

#pi--gender {
    margin-top: 15px;
    margin-left: 20px;
    border-radius: 7px;
    width: fit-content;
    height: fit-content;
    background-color: transparent;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    padding-inline: 10px;

    font-family: Roboto, sans-serif;
}